/* Write your code here. */
.background-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.image-size {
  height: 390px;
}
.gallery-heading {
  font-family: 'Roboto';
  font-size: 20px;
  color: #1e293b;
}
.gallery-paragraph {
  font-family: 'Roboto';
  font-size: 14px;
  color: #64748b;
}
.gallery-list {
  display: flex;
  width: 100%;
}
